<div class="fondo-gris">
  <div class="container mt-4">
    <div class="bg-white rounded shadow p-4">
    <div class="row">
      <!-- Filtros -->
      <div class="col-md-4">
          <div class="card border-1 shadow-sm p-3">
            <h5 class="mb-3 border-bottom pb-2">Filtros</h5>
            <form (ngSubmit)="applyFilters()">
              <div class="mb-3">
                <label for="searchText" class="form-label"> <i class="bi bi-search"></i> Buscar</label>
                <input
                  type="text"
                  id="searchText"
                  [(ngModel)]="searchText"
                  name="searchText"
                  class="form-control"
                  placeholder="Buscar publicaciones..."
                />
              </div>

              <div class="mb-3">
              <label for="categories" class="form-label"><i class="bi bi-bookmarks"></i> Categorías</label>
                <ng-select
                  [items]="categories"
                  bindLabel="description"
                  bindValue="description"
                  [(ngModel)]="category"
                  name="categories"
                  [multiple]="true"
                  [closeOnSelect]="false"
                  placeholder="Selecciona categorías"
                  class="w-100"
                >
                </ng-select>
            </div>

              <div class="mb-3">
              <label for="location" class="form-label"><i class="bi bi-geo-alt"></i> Localidad</label>
                <ng-select
                  [items]="locations"
                  bindLabel="description"
                  bindValue="description"
                  [(ngModel)]="location"
                  name="location"
                  [clearable]="true"
                  placeholder="Seleccionar localidad"
                  class="w-100"
                >
                </ng-select>
            </div>

              <div class="mb-3">
                <label for="minPrice" class="form-label"><i class="bi bi-currency-dollar"></i> Precio Mínimo</label>
                <input
                  type="number"
                  id="minPrice"
                  [(ngModel)]="minPrice"
                  name="minPrice"
                  class="form-control"
                  placeholder="$0"
                  min="0"
                />
              </div>

              <div class="mb-3">
                <label for="maxPrice" class="form-label"><i class="bi bi-currency-dollar"></i> Precio Máximo</label>
                <input
                  type="number"
                  id="maxPrice"
                  [(ngModel)]="maxPrice"
                  name="maxPrice"
                  class="form-control"
                  placeholder="$99999"
                  min="0"
                />
              </div>

              <div class="mb-3">
              <label for="tags" class="form-label"><i class="bi bi-tags"></i> Tags</label>
                <ng-select
                  [items]="tags"
                  bindLabel="description"
                  bindValue="description"
                  [(ngModel)]="tag"
                  [multiple]="true"
                  name="tags"
                  [closeOnSelect]="false"
                  placeholder="Seleccionar tags"
                  class="w-100"
                >
                </ng-select>
            </div>

            <div class="mb-3">
            <label for="orderBy" class="form-label"><i class="bi bi-arrow-down-up"></i> Ordenar por</label>
            <div class="d-flex align-items-center gap-2">
              <ng-select
                [items]="orderByOptions"
                bindLabel="label"
                bindValue="value"
                [(ngModel)]="sortBy"
                name="sortBy"
                [clearable]="false"
                placeholder="Ordenar por"
                class="flex-grow-1"
                [ngStyle]="{'color': !sortBy || sortBy === '' ? '#b0b0b0' : 'black'}"
              >
              </ng-select>

              <button
                type="button"
                class="btn btn-outline-primary"
                (click)="sortDir = 'asc'"
                [class.active]="sortDir === 'asc'"
                title="Ascendente"
              >
                <i class="bi bi-arrow-up-short"></i>
              </button>
              <button
                type="button"
                class="btn btn-outline-primary"
                (click)="sortDir = 'desc'"
                [class.active]="sortDir === 'desc'"
                title="Descendente"
              >
                <i class="bi bi-arrow-down-short"></i>
              </button>
            </div>
          </div>

              <button type="submit" class="btn btn-primary w-100 mt-2">
                Aplicar Filtros
              </button>
            </form>
          </div>
        </div>

      <!-- Publicaciones -->
      <div class="col-md-8">
        <div class="row row-cols-1 row-cols-md-3 gx-1 gy-3">
          <div class="col" *ngFor="let pub of publications">
            <div class="card card-custom-size" (click)="goToPublication(pub.id)">
              <img
                [src]="pub.images && pub.images.length > 0 ? pub.images[0] : 'assets/not-found.jpg'"
                class="card-img-top"
                alt="Imagen de publicación"
              />
              <div class="card-body">
                <p class="card-title text-truncate">{{ pub.title }}</p>
                <p class="text-secondary small">
                  Por {{ pub.user.name }} {{ pub.user.surname }}
                  @if (pub.user.verified) {
                    <i class="bi bi-patch-check-fill text-info"></i>
                  }
                </p>
                <p
                  *ngFor="let tag of pub.tags"
                  [ngClass]="getTagClass(tag)"
                  class="d-inline-block me-1"
                >
                  {{ tag }}
                </p>
                <p class="text-secondary small">
                  <i class="bi bi-geo-alt"></i> {{ pub.location }}
                </p>
                <h3>$ {{ pub.price | decimalFormat }}</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- Paginación -->
        <div class="d-flex justify-content-center mt-4">
          <button
            class="btn btn-outline-primary"
            (click)="loadPage(currentPage - 1)"
            [disabled]="currentPage === 1"
          >
            Anterior
          </button>
          <button
            class="btn btn-outline-primary mx-2"
            (click)="loadPage(currentPage + 1)"
            [disabled]="isLastPage"
          >
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
