.card {
    height: 350px; /* Altura fija para la tarjeta */
    width: 100%;   /* Aseguramos que la tarjeta ocupe todo el ancho disponible */
  }
  
  .card-img-top {
    height: 200px; /* Altura fija para la imagen dentro de la tarjeta */
    object-fit: cover; /* Para asegurarnos de que la imagen cubra el área de la imagen sin distorsionarse */
  }
  
  .card-body {
    height: calc(100% - 200px); /* Ajustar la altura del cuerpo de la tarjeta al espacio restante */
  }
  
  .card-title {
    font-size: 1.2rem;
  }
  
  .card-text {
    font-size: 0.9rem;
  }
  
  .btn-primary {
    font-size: 0.8rem;
  }
  