.fondo-gris {
    background-color: #f8f9fa;
}

.bg-bronce {
  background: #cd7f32;
}
.btn-outline-bronce {
  color: #cd7f32;
  border-color: #cd7f32;
}
.btn-outline-bronce:hover {
  background-color: #cd7f32;
  color: white;
}

.bg-plata {
  background: silver
}
.btn-outline-plata {
  color: silver;
  border-color: silver;
}
.btn-outline-plata:hover {
  background-color: silver;
  color: white;
}

.bg-oro {
  background: gold;
}
.btn-outline-oro {
  color: gold;
  border-color: gold;
}
.btn-outline-oro:hover {
  background-color: gold;
  color: black;
}