<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-0">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand fw-bold" [routerLink]="'/home'">
      <img src="assets/logo2.png" alt="OncativoVende" style="height: 35px; width: auto;" class="me-2">
    </a>

<!-- Centro: Input de búsqueda y botón de categorías -->
<div class="d-flex justify-content-center align-items-center w-50 mx-auto">
  <form class="d-flex w-100 me-2 position-relative" (ngSubmit)="onSearch()">
    <input
      class="form-control form-control-sm rounded ps-3 pe-5 py-1 placeholder-secondary"
      type="search"
      placeholder="Buscar productos marcas y más..."
      aria-label="Buscar"
      [(ngModel)]="searchText"
      name="searchText"
      required
    />
    <!-- Separador y lupa -->
    <span
      class="position-absolute end-0 top-0 h-100 d-flex align-items-center me-3"
    >
      <span class="text-secondary me-2">|</span>
      <i class="bi bi-search text-secondary" style="font-size: 1rem; cursor: pointer;" (click)="onSearch()"></i>
    </span>
  </form>

<!-- Select de categorías -->
<div class="dropdown mb-2 mt-2 me-2">
  <button class="btn btn-transparent text-white dropdown-toggle p-0" type="button" id="dropdownCategorias" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 0.9rem;">
    Categorías
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let category of categories">
      <a class="dropdown-item" style="cursor: pointer;" (click)="selectCategory(category)">
        {{ category.description }}
      </a>
    </li>
  </ul>
</div>
    </div>
    <div class="mb-2 mt-2 me-2 ms-5" style="font-size: 0.9rem; cursor: pointer;" [routerLink]="'/events'">
    <i class="bi bi-newspaper text-white"></i> <span class="text-white"> Eventos</span>
  </div>

    <!-- Botón toggle para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del navbar -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <ng-container *ngIf="authService.isLoggedIn()">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <!-- Mostrar avatar o iniciales -->
              <div *ngIf="getProfileImage(); else initials" class="rounded-circle me-2">
                <img [src]="getProfileImage()" class="rounded-circle" style="width: 30px; height: 30px; object-fit: cover;">
              </div>
              <ng-template #initials>
                <div class="rounded-circle bg-white text-dark d-flex align-items-center justify-content-center me-2"
                    style="width: 30px; height: 30px; border: 0.3px solid black;">
                  {{ getInitials() }}
                </div>
              </ng-template>
              {{ setName() }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" [routerLink]="'/profile'" style="font-size: 0.9rem;">Mi perfil</a></li>
              <li><a class="dropdown-item" [routerLink]="'/my-favorites'" style="font-size: 0.9rem;">Mis favoritos</a></li>
              <li><a class="dropdown-item" [routerLink]="'/my-publications'" style="font-size: 0.9rem;">Mis publicaciones</a></li>
              <li><a class="dropdown-item" [routerLink]="'/subscriptions'" style="font-size: 0.9rem;">Gestionar suscripciones</a></li>
                @if (authService.hasRole("PREMIUM")) {
                <li><hr class="my-1"></li>
                <li><a class="dropdown-item d-flex justify-content-between align-items-center" style="font-size: 0.9rem;" [routerLink]="'/new-publication'"> Crear publicación<i class="bi bi-clipboard-plus ms-1"></i></a></li>
                }
                @if (authService.hasRole("ADMIN")){
                  <li><hr class="my-1"></li>
                  <li class="dropdown-header text-primary fw-bold" style="font-size: 0.9rem;">Opciones de administración</li>
                  <li><a class="dropdown-item d-flex justify-content-between align-items-center" style="font-size: 0.9rem;" [routerLink]="'/admin/users'"> Gestionar usuarios<i class="bi bi-person-lines-fill text-primary"></i></a></li>
                  <li><a class="dropdown-item d-flex justify-content-between align-items-center" style="font-size: 0.9rem;" [routerLink]="'/admin/publications'"> Gestionar publicaciones<i class="bi bi-card-list text-primary"></i></a></li>
                  <li><a class="dropdown-item d-flex justify-content-between align-items-center" style="font-size: 0.9rem;" [routerLink]="'/admin/new-event'"> Crear evento<i class="bi bi-calendar2-plus text-primary"></i></a></li>
                }
                @if (authService.hasRole("MODERADOR") || authService.hasRole("ADMIN")) {
                  <li><hr class="my-1"></li>
                  <li class="dropdown-header text-warning fw-bold" style="font-size: 0.9rem;">Opciones de moderación</li>
                  <li><a class="dropdown-item d-flex justify-content-between align-items-center" style="font-size: 0.9rem;" [routerLink]="'/moderator/reports'"> Ver reportes<i class="bi bi-flag text-warning"></i></a></li>
                }
                @if (authService.hasRole("ADMIN")){
                  <li><hr class="my-1"></li>
                  <li class="dropdown-header  fw-bold" style="font-size: 0.9rem; color: fuchsia;">Dashboards / Gráficos</li>
                  <li><a class="dropdown-item d-flex justify-content-between align-items-center" style="font-size: 0.9rem;" [routerLink]="'/admin/charts/publications'"> Publicaciones<i class="bi bi-graph-up-arrow" style="color: fuchsia;"></i></a></li>
                  <li><a class="dropdown-item d-flex justify-content-between align-items-center" style="font-size: 0.9rem;" [routerLink]="'/admin/charts/users'"> Usuarios<i class="bi bi-pie-chart" style="color: fuchsia;"></i></a></li>
                  <li><a class="dropdown-item d-flex justify-content-between align-items-center" style="font-size: 0.9rem;" [routerLink]="'/admin/charts/subscriptions'"> Subscripciones<i class="bi bi-credit-card" style="color: fuchsia;"></i></a></li>
                }
                <li><hr class="my-1"></li>
                <li><a class="dropdown-item d-flex justify-content-between align-items-center" (click)="logout()" style="cursor: pointer; font-size: 0.9rem;">Cerrar sesión<i class="bi bi-box-arrow-left ms-2 text-danger"></i></a></li>
            </ul>
          </li>
        </ng-container>

        <ng-container *ngIf="!authService.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link text-white" (click)="goToLogin()" style="cursor: pointer;">
              <i class="bi bi-box-arrow-in-right me-1"></i> Ingresar
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
