.fondo-gris {
  background-color: #f8f9fa; 
  padding: 20px 0;
  min-height: 100vh;
}

.step-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
}

.step-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f8f9fa; 
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 1;
  transition: background-color 0.3s, color 0.3s;
}

.step-circle.active {
  background-color: #198754; 
  color: white;
}

.step-line {
  height: 4px;
  width: 50px;
  background-color: #dee2e6;
  margin: 0 10px;
  z-index: 0;
}